<div ng-controller="StaticsController as statics">
  <div class="row" ng-show="users.checkLoggedIn()">
    <div class="col-md-12" id="top">
      <img ng-src="/images/houseparty.jpg" />
      <div class="description">
        <h1><span>Shindig<span></h1>
        <h4>Hosting a house party? Heading out for a BBQ? Shindig is a music sharing platfrom that allows anyone to be the DJ for a night.</h4>
        <p>Get started by creating your playlist by adding your chosen tracks from youtube.</p>
        <p>Once you've got the party going, you can invite your mates along to DJ with you by adding them to the playlist. This way they can select and add any youtube track they want from anywhere.  All they have to do is sign up or login. Then rave away!</p>
      </div>
    </div>
    <div class="col-md-6" id="middle-left">
      <img ng-src="/images/vinyl.jpg" />
      <div class="description">
        <h2 ui-sref="playlistsIndex">My Playlists</h2>
      </div>
    </div>
    <div class="col-md-6" id="middle-right">
      <img ng-src="/images/lights.jpg" />
      <div class="description">
        <h2 ui-sref="playlistsNew">Create A Playlist</h2>
      </div>
    </div>
    <div class="col-md-12" id="bottom">
      <img ng-src="/images/party.jpg" />
      <div class="description">
        <img src="images/layer1.png" alt="" />
      </div>
    </div>
  </div>
  <div class="homebox" ng-hide="users.checkLoggedIn()" ui-sref="login">
    <ul id="landing"
     data-calibrate-x="true"
     data-calibrate-y="true"
     data-invert-x="false"
     data-invert-y="false"
     data-limit-x="true"
     data-limit-y="true"
     data-scalar-x="10"
     data-scalar-y="10"
     data-friction-x="0.8"
     data-friction-y="0.8"
     data-origin-x="0.2"
     data-origin-y="1.0">
     <li class="layer" id="layer1" data-depth="0.00"><img src="images/layer1.png"></li>
     <li class="layer" data-depth="0.20"><img src="images/layer2.png"></li>
     <li class="layer" data-depth="0.40"><img src="images/layer3.png"></li>
     <li class="layer" data-depth="0.60"><img src="images/layer4.png"></li>
     <li class="layer" data-depth="0.80"><img src="images/layer5.png"></li>
     <li class="layer" data-depth="1.00"><img src="images/layer6.png"></li>
    </ul>
  </div>
</div>
