<div class="col-md-6 col-md-offset-3">
  <h2 ng-repeat="playlist in playlistsShow">{{playlist.title}}</h2>

  <section>
    <div id="player"></div>
    <div class="controls" style="text-align: center;margin: 0 auto;">
        <button class="btn btn-default" ng-click="playlistsShow.playPrevious()">Previous</button>
        <button class="btn btn-default" ng-click="playlistsShow.playNext()">Next</button>
        <script src="http://www.youtube.com/iframe_api"></script>
    </div>
  </section>

  <h3>Up Next...</h3>
  <div class="row">
    <div class="col-xs-6 col-md-3" id="title">
      <script src="http://www.youtube.com/iframe_api">
      </script>
    </div>
  </div>

  <h4>Add another one to the list..</h4>
  <div>
    <form id="adding" ng-submit="playlistsShow.addVideo()">
      <div class="form-group">
        <label for="videos">YouTube Tracks</label>
        <input type="text" class="form-control" ng-model="playlistsShow.video" placeholder="YouTube Track (URL)">
      </div>
      <button class="btn btn-default" type="submit" name="button">Add</button>
    </form>
  </div>

  <h4>Add friends to the playlist</h4>
    <input type="text"
          data-ng-model="playlistsShow.user.name"
          placeholder="Select friend"
          uib-typeahead="user for user in playlistsShow.getUsers($viewValue)" typeahead-loading="loadingFriends"
          typeahead-no-results="noResults"
          class="form-control">
      <i ng-show="loadingFriends" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
      </div>
      <button type="submit" class="btn btn-default" ng-click="playlistsShow.addUserToPlaylist()">Add</button>

  <h4>Delete Playlist</h4>
  <button type="delete" class="btn btn-default" ng-click="playlistsShow.deletePlaylist()">Delete</button>

</div>
