<div class="container">
  <h2 ng-repeat="playlist in playlistsShow">{{playlist.title}}</h2>

  <section>
    <div id="player"></div>
    <div class="controls" style="text-align: center;margin: 0 auto;">
        <button ng-click="playlistsShow.playPrevious()">Previous</button>
        <button ng-click="playlistsShow.playNext()">Next</button>
        <script src="http://www.youtube.com/iframe_api"></script>
    </div>
    <button type="delete" ng-click="playlistsShow.deletePlaylist()">Delete</button>
  </section>

  <h3>Up Next...</h3>
  <div class="row">
    <div class="col-xs-6 col-md-3" id="title">
      <script src="http://www.youtube.com/iframe_api">
      </script>
    </div>
  </div>

  <h3>Add another one to the list..</h3>
  <div class="col-md-6 col-md-offset-3">
    <form ng-submit="playlistsShow.addVideo()">
      <div class="form-group">
        <label for="videos">YouTube Tracks</label>
        <input type="text" class="form-control" ng-model="playlistsShow.video" placeholder="YouTube Track (URL)">
      </div>
      <button type="submit" name="button">Add</button>
    </form>
  </div>
</div>
